body {
	background: #6666FF;
	color: #d5d5d5;
}
.navbar-brand {
	height: 100px;
}
.navbar-header button {
	margin-top: 40px;
}
.navbar-brand a:hover {
	text-decoration: none;
}
#nav-list {
	background: #C7C7AB;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 2;
	font-size: 1.3em;
}
ul a:hover {
	text-decoration: none;
}
h2 {
	margin-bottom: 20px;
}
.items {
	background: #3D3DCF;
	padding: 15px;
	margin-bottom: 15px;
	height: 300px;
}
